.container, .text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.cta a {
    font-weight: bold; /* This makes the text bold */
	color: #FFFFFF;
}


// .highlight {
//     background-color: #296570; /* Replace with your desired color */
// }

.image-column {
    display: flex;
    flex-direction: column;
}


.text-container {
	max-width: 750px;
}

.container {
	max-width: 1140px;
}

.dark-logo {
	display: none;
}

section {
	background: #fff;
}

.pad {
	padding: 60px 0;
}

header {
	color: #fff;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	line-height: 0;

	.container {
		line-height: 0;
	}

	&.header-background {
		background-color: rgba(255,255,255,.95);
		color: #333;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
		transition: background-color 0.2s ease;
		text-shadow: none;

		a {
			color: #333;
			@media #{$mid-point} {
				&:hover {
					border-bottom-color: rgba(80, 80, 80,.3);
					border-bottom-width: 5px;
				}
			}
		}

		.dark-logo {
			display: inline;
		}

		.light-logo {
			display: none;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;
		@media #{$mid-point} {
			height: 100%;
		}
		display: block;

		span {
			display: block;
			height: 100%;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		display: inline-block;

		img {
			height: 30px;
			width: auto;
		}
	}
}

.content {
	background: #fff;
}

.info img {
		max-height: 650px;
}

.info {
	padding: 0 0 100px 0;

	&:first-child {
		padding-top: 100px;
	}
}

.subtext {
	margin-top: 10px;
}
.heading-landing{
	margin-top: 10vh;
	padding: 7px;	
	background-color: #2c3435bb;
	border-radius: 25px;
	border: 2px solid #000000;
}
.bold-large-text {
	
    font-weight: 900;
    font-size: 16pt; /* You can adjust the size as needed */
	// background-color: #2c3435;
	padding: 7px;
	display: inline; 
	// border-radius: 25px;
  	// border: 2px solid #000000;
}


.cta {
	margin: 25px 0 0 0;
}

.page h2 {
	text-align: center;
}

blockquote {
	padding: 18px 25px;
	margin: 0;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;

	cite {
		display: block;
		font-weight: bold;
		margin: 10px 0 0 0;
	}

	p {
		display: inline;
	}
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

.square-image {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-size:cover;
 	background-repeat:no-repeat;
	margin: 0 auto;
}

.page {
	margin-bottom: 0;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}

.learn-more {
	background-color: #2f34359c;
	padding: 7px;
	position: absolute;
	left: 0;
	bottom: 30px;
	text-align: center;
	font-size: 1.4em;
	width: 100%;	
	

	a {
		text-decoration: none;
		color: #fff;
		opacity: .9;

		&:hover {
			opacity: 1;
		}
	}
	.arrow {
		font-size: .6em;
	}
}

.editor-link {
 	display: none;
	margin-top: 0;
	padding-top: 30px;
	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffafaf;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #feb8b8;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}
/* .timeline-left h1{
  text-align:right;
} */

.timeslot-keynote{
  padding-left:20px;
}
.timeslot-contributed{
  padding-left:20px;
}
.timeslot-coffee{
  padding-left:20px;
  padding-top:10px;
  font-weight:bold;
}
.timeslot-lunch{
  padding-top:10px;
  padding-left:20px;
  font-weight:bold;
}
.timeslot-poster{
  padding-left:20px;
}
.timeslot-discussion{
  padding-left:20px;
}

.talk{
  padding-left:40px;
  margin-top:-10px;
}

// @media screen and (min-width: 768px) {
//   .timeline {
//     display: grid;
//     grid-template-columns: 1fr 3px 1fr;
//   }
//   .timeline-middle {
//     position: relative;
//     background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
//     width: 3px;
//     height: 100%;
//   }
//   .main-middle {
//     opacity: 0;
//   }
//   .timeline-circle {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
//     -webkit-transform: translateX(-50%);
//             transform: translateX(-50%);
//   }
// }

